.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.booksAnimations {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.card {
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  position: relative;

  a {
    color: white;
  }
}

.link {
  .label {
    opacity: 0.6;
  }

  &:hover {
    .label {
      opacity: 1;
    }
  }
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; // behaves like background-size: cover
}

.label {
  position: absolute;
  bottom: 8px;
  left: 8px;
  padding: 4px 8px;
  background: rgba(0,0,0,0.5);
  border-radius: 6px;
  font-size: 14px;
}

.externalLink {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  svg {
    width: 24px;
    height: auto;

    path {
      fill: white;
    }
  }
}